In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [6]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [7]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,63.491,8.7,21431
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.583,8.7,3649
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,67.214,8.7,15976
3,545611,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,2022-03-24,335.704,8.7,284
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,45.345,8.6,12765

In [8]:
df = pd.DataFrame()

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [10]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [11]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,63.491,8.7,21431
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.583,8.7,3649
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,67.214,8.7,15976
3,545611,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,2022-03-24,335.704,8.7,284
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,45.345,8.6,12765
...,...,...,...,...,...,...,...
8555,12090,Just Married,Tom Leezak and Sarah McNerney fall in love and...,2003-01-09,14.978,5.7,1104
8556,11718,Who's Harry Crumb?,Harry Crumb is a bumbling and inept private in...,1989-02-03,7.655,5.7,226
8557,9562,Timeline,A group of archaeological students become trap...,2003-11-26,11.277,5.7,858
8558,8836,The X Files: I Want to Believe,Six years after the events of The X-Files seri...,2008-07-24,14.358,5.7,1204
8559,714375,Fatal Affair,Ellie tries to mend her marriage with her husb...,2020-07-16,17.213,5.7,241

In [14]:
df.shape

(8560, 7)

In [13]:
df.to_csv('movies.csv')