In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder , OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [5]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [14]:
df.isna().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [15]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split 
X_train ,X_test , y_train,y_test = train_test_split(df.drop('has_covid' ,axis =1),
                                                   df.iloc[:,-1] ,
                                                   test_size=0.2,
                                                   random_state=0)

In [18]:
X_train.

    age  gender  fever   cough       city
43   22  Female   99.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
3    31  Female   98.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi
45   72    Male   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
96   51  Female  101.0  Strong    Kolkata
67   65    Male   99.0    Mild  Bangalore
64   42    Male  104.0    Mild     Mumbai
47   18  Female  104.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi

[80 rows x 5 columns]

# Aam Zindagi

In [20]:
# adding imputer to fever column
si= SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])
X_test_fever = si.transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [25]:
# Ordinal Encoding -> COugh 

oe =OrdinalEncoder(categories=[['Mild','Strong']])

X_train_cough =oe.fit_transform(X_train[['cough']])
X_test_cough = oe.transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [58]:
# OneHotEncoding -> Gender , city

ohe =OneHotEncoder(drop = 'first' , sparse = False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city =  ohe.transform(X_test[['gender' ,'city']])

X_train_gender_city.shape

(80, 4)

In [59]:
X_train_age = X_train.drop(columns =['gender','city','cough','fever']).values
X_test_age = X_test.drop(columns = ['gender','city','cough','fever']).values

In [60]:
X_test_age.shape

(20, 1)

In [61]:
X_train.sample(2)

    age  gender  fever   cough       city
72   83  Female  101.0    Mild    Kolkata
87   47    Male  101.0  Strong  Bangalore

In [62]:
X_train_transformed = np.concatenate((X_train_age ,X_train_gender_city , X_train_fever,X_train_cough) ,axis = 1)
X_test_transformed = np.concatenate((X_test_age ,X_test_gender_city , X_test_fever,X_test_cough) ,axis = 1)

In [63]:
X_train_transformed.shape , X_test_transformed.shape

((80, 7), (20, 7))

In [51]:
X_train_gender_city.

<80x4 sparse matrix of type '<class 'numpy.float64'>'
	with 87 stored elements in Compressed Sparse Row format>

In [46]:
X_train_fever.shape

(80, 1)

# Mentos Zindagi

In [64]:
from sklearn.compose import ColumnTransformer

In [68]:
transformer =ColumnTransformer(transformers=[
    ('tnf1' ,SimpleImputer(),['fever'] ),
    ('tnf2' ,OrdinalEncoder(categories=[['Mild' ,'Strong']]) ,['cough'] ),
    ('tnf3', OneHotEncoder(drop ='first' ,sparse =True),['gender','city'])
] , remainder ='passthrough')

In [72]:
transformer.fit_transform(X_train).shape

(80, 7)

In [71]:
transformer.transform(X_test).shape

(20, 7)